html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.popup-content {
  background: white;
  width: auto;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* No! accessibility is a nice thing */
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

/* Make data grids wrap text within cells as needed */
.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: fit-content !important;
}
.MuiDataGrid-cell {
  max-height: fit-content !important;
  overflow: auto;
  max-height: inherit;
  white-space: initial !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  > div {
    max-height: inherit;
    width: 100%;
    white-space: initial;
    line-height: 16px;
  }
}

.MuiDataGrid-cellCheckbox .MuiCheckbox-root {
  padding: 0 !important;
}
