.header {
  width: 100%;
  margin: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .button {
    display: inline-block;
    flex: 1;

    margin: 0.5rem 1.1rem;
    margin-left: auto;

    font-weight: bold;
  }

  .rightBar {
    display: flex;
    align-items: center;

    & > * {
      flex: 1 1 auto;
    }
  }
}
